<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sách</title>
</head>
<body>
<a th:href="@{/showAdd}">Thêm sách</a>
<a th:href="@{/user/showWarehouseBookUser}">Sách đã mượn</a>
<h2 th:text="${cookie}"></h2>
<h2 th:text="${count}"></h2>
<div th:each="row :${books}">
    <label>
        <img style="width:100px;height: 200px" th:src="@{'/file-upload/' + ${row.getImage()}}" alt="anh">
    </label>
    <br>
    <samp th:text="${row.name}"></samp>
    <br>
    <samp th:text="${row.numberBook}"></samp>
    <br>
    <a th:href="@{/user/showBook/{id}(id=${row.getId()})}"> Mượn sách</a>
</div>

</body>
</html>