<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/user/save}" th:object="${book}" method="post" >
    <label>
        <img style="width:100px;height: 200px" th:src="@{'/file-upload/' + ${book.getImage()}}" alt="anh">
    </label>
    <input th:field="*{id}" type="hidden">
    <br>


    Tên sách: <p th:field="*{name}" th:text="${book.name}"></p>
    <br>
    số lượng còn lại <p th:field="*{numberBook}" th:text="${book.numberBook}" ></p>
<input type="submit" value="Xác nhận">
</form>

</body>
</html>